/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csprojAssemblyReference.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.CoreCompileInputs.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csprojAssemblyReference.cache
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csprojAssemblyReference.cache
