/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csprojAssemblyReference.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.CoreCompileInputs.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csprojAssemblyReference.cache
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csprojAssemblyReference.cache
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csprojAssemblyReference.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.pdb
/SupportIndeed/SupportIndeed/bin/ProcessingDemon.exe
/SupportIndeed/SupportIndeed/bin/ProcessingDemon.pdb
/SupportIndeed/SupportIndeed/bin/ProcessorIndeed.dll
/SupportIndeed/SupportIndeed/bin/ProcessorIndeed.pdb
/SupportIndeed/SupportIndeed/bin/SupportIndeed.dll
/SupportIndeed/SupportIndeed/bin/SupportIndeed.pdb
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.FileListAbsolute.txt
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csprojAssemblyReference.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.dll
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.pdb
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/SupportIndeed/bin/AjaxMin.dll
/SupportIndeed/SupportIndeed/bin/Antlr3.Runtime.dll
/SupportIndeed/SupportIndeed/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/SupportIndeed/SupportIndeed/bin/Microsoft.Web.Infrastructure.dll
/SupportIndeed/SupportIndeed/bin/Newtonsoft.Json.dll
/SupportIndeed/SupportIndeed/bin/System.Net.Http.Formatting.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Helpers.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Http.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Http.WebHost.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Mvc.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Optimization.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Razor.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Deployment.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Razor.dll
/SupportIndeed/SupportIndeed/bin/WebGrease.dll
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/ProcessingDemon/bin/Debug/Newtonsoft.Json.dll
/SupportIndeed/ProcessingDemon/bin/Debug/Newtonsoft.Json.xml
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.exe.config
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csproj.CopyComplete
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csproj.CoreCompileInputs.cache
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csproj.FileListAbsolute.txt
/SupportIndeed/ProcessingDemon/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SupportIndeed/ProcessingDemon/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SupportIndeed/ProcessingDemon/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SupportIndeed/ProcessorIndeed/bin/Debug/Newtonsoft.Json.dll
/SupportIndeed/ProcessorIndeed/bin/Debug/Newtonsoft.Json.xml
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csproj.CopyComplete
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csproj.CoreCompileInputs.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csproj.FileListAbsolute.txt
/SupportIndeed/ProcessorIndeed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SupportIndeed/ProcessorIndeed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SupportIndeed/ProcessorIndeed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SupportIndeed/SupportIndeed/bin/Antlr3.Runtime.pdb
/SupportIndeed/SupportIndeed/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/SupportIndeed/SupportIndeed/bin/Newtonsoft.Json.xml
/SupportIndeed/SupportIndeed/bin/ProcessingDemon.exe.config
/SupportIndeed/SupportIndeed/bin/roslyn/csc.exe
/SupportIndeed/SupportIndeed/bin/roslyn/csc.exe.config
/SupportIndeed/SupportIndeed/bin/roslyn/csc.rsp
/SupportIndeed/SupportIndeed/bin/roslyn/csi.exe
/SupportIndeed/SupportIndeed/bin/roslyn/csi.exe.config
/SupportIndeed/SupportIndeed/bin/roslyn/csi.rsp
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CodeAnalysis.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.CSharp.Core.targets
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.Managed.Core.targets
/SupportIndeed/SupportIndeed/bin/roslyn/Microsoft.VisualBasic.Core.targets
/SupportIndeed/SupportIndeed/bin/roslyn/System.AppContext.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Collections.Immutable.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Console.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Diagnostics.StackTrace.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.IO.Compression.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.IO.FileSystem.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.IO.FileSystem.Primitives.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.IO.Pipes.AccessControl.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.IO.Pipes.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Reflection.Metadata.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.AccessControl.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Claims.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Cryptography.Encoding.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Cryptography.Primitives.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Security.Principal.Windows.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Text.Encoding.CodePages.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.ValueTuple.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Xml.ReaderWriter.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Xml.XmlDocument.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Xml.XPath.dll
/SupportIndeed/SupportIndeed/bin/roslyn/System.Xml.XPath.XDocument.dll
/SupportIndeed/SupportIndeed/bin/roslyn/vbc.exe
/SupportIndeed/SupportIndeed/bin/roslyn/vbc.exe.config
/SupportIndeed/SupportIndeed/bin/roslyn/vbc.rsp
/SupportIndeed/SupportIndeed/bin/roslyn/VBCSCompiler.exe
/SupportIndeed/SupportIndeed/bin/roslyn/VBCSCompiler.exe.config
/SupportIndeed/SupportIndeed/bin/SupportIndeed.dll.config
/SupportIndeed/SupportIndeed/bin/System.Net.Http.Formatting.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Helpers.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Http.WebHost.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Http.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Mvc.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Optimization.xml
/SupportIndeed/SupportIndeed/bin/System.Web.Razor.xml
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Deployment.xml
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Razor.xml
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.xml
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.CopyComplete
/SupportIndeed/SupportIndeed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SupportIndeed/SupportIndeed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SupportIndeed/SupportIndeed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SupportIndeed/TestingWebApi/bin/Debug/Newtonsoft.Json.dll
/SupportIndeed/TestingWebApi/bin/Debug/Newtonsoft.Json.xml
/SupportIndeed/TestingWebApi/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/TestingWebApi/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/TestingWebApi/bin/Debug/System.Net.Http.Formatting.dll
/SupportIndeed/TestingWebApi/bin/Debug/System.Net.Http.Formatting.xml
/SupportIndeed/TestingWebApi/bin/Debug/TestingWebApi.exe
/SupportIndeed/TestingWebApi/bin/Debug/TestingWebApi.exe.config
/SupportIndeed/TestingWebApi/bin/Debug/TestingWebApi.pdb
/SupportIndeed/TestingWebApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SupportIndeed/TestingWebApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SupportIndeed/TestingWebApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csproj.CopyComplete
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csproj.CoreCompileInputs.cache
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csproj.FileListAbsolute.txt
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.exe
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.exe.config
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.pdb
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/.vs/SupportIndeed/v15/.suo
