/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csprojAssemblyReference.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.CoreCompileInputs.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csprojAssemblyReference.cache
/SupportIndeed/TestingWebApi/obj/Debug/TestingWebApi.csprojAssemblyReference.cache
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/.vs/SupportIndeed/v15/.suo
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessingDemon/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.csprojAssemblyReference.cache
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.exe
/SupportIndeed/ProcessingDemon/obj/Debug/ProcessingDemon.pdb
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessorIndeed/bin/Debug/ProcessorIndeed.pdb
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.csprojAssemblyReference.cache
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.dll
/SupportIndeed/ProcessorIndeed/obj/Debug/ProcessorIndeed.pdb
/SupportIndeed/SupportIndeed/bin/ProcessingDemon.exe
/SupportIndeed/SupportIndeed/bin/ProcessingDemon.pdb
/SupportIndeed/SupportIndeed/bin/ProcessorIndeed.dll
/SupportIndeed/SupportIndeed/bin/ProcessorIndeed.pdb
/SupportIndeed/SupportIndeed/bin/SupportIndeed.dll
/SupportIndeed/SupportIndeed/bin/SupportIndeed.pdb
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csproj.FileListAbsolute.txt
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.csprojAssemblyReference.cache
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.dll
/SupportIndeed/SupportIndeed/obj/Debug/SupportIndeed.pdb
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
/SupportIndeed/SupportIndeed/bin/AjaxMin.dll
/SupportIndeed/SupportIndeed/bin/Antlr3.Runtime.dll
/SupportIndeed/SupportIndeed/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/SupportIndeed/SupportIndeed/bin/Microsoft.Web.Infrastructure.dll
/SupportIndeed/SupportIndeed/bin/Newtonsoft.Json.dll
/SupportIndeed/SupportIndeed/bin/System.Net.Http.Formatting.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Helpers.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Http.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Http.WebHost.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Mvc.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Optimization.dll
/SupportIndeed/SupportIndeed/bin/System.Web.Razor.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Deployment.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.dll
/SupportIndeed/SupportIndeed/bin/System.Web.WebPages.Razor.dll
/SupportIndeed/SupportIndeed/bin/WebGrease.dll
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-shm
/SupportIndeed/.vs/SupportIndeed/v15/Server/sqlite3/storage.ide-wal
