<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Port" value="60070" />
    <add key="BaseUrl" value="localhost" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ZipCode" value="94040" />
    <add key="GoogleApiKey" value="123456789" />
  </appSettings>
</configuration>