<div class="jumbotron">
    <h1>Web Zip Location</h1>
    <p class="lead">Web Zip Location is a test web application use WebApi HTML, CSS, and JavaScript.</p>
    <p>The functional was realesed in "Location service" menu item.</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Web Zip Location is a test web application use WebApi HTML, CSS, and JavaScript.</p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
