@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Тестовое приложение службы техподдержки</h1>
    <p class="lead">
        Приложение выполнено в архитектуре отделенного обработчика запросов(обращений),
        и системы очередей, так как в данной реализации отсутствует сохранение состояний в БД.
        И только демонстрирует обработку обращений в реальном времени.
        Соответственно после завершения работы обработчика запросов, данные не будут сохраненны.
        Подразумевается, что в реальном исполнении обработчик должен сохранять состояние всех обращений.
    </p>

</div>

<div class="row">

</div>